*{
    margin: 0;
    padding: 0;
}

a, p{
    color: #FFF;
    text-decoration: none;
}

.df{
    display: flex;
}

.but{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tit_font{
    font-size: 25px;
}

/*header начало*/

body{
    font-family: 'Roboto';
}

.logo{
    align-items: center;
    width: 400px;
}

.logo h1, .page_tittle h2, .logo h2{
    color:#FFF;
    font-family: 'Monoton';
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 400;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.header_inner{
    justify-content: space-between;
    align-items: center;
}

header{
    justify-content: space-evenly;
    background: #010216;
    height: 100px;
}

.gif{
    width: 130px;
    height: 100px;
    background: url(img/logo/logo_gif.gif) center / cover no-repeat; 
}

nav{
    width: 650px;
    height: 100px;
    align-items: center;
}

nav ul{
    width: 650px;
    color: coral;
    justify-content: space-between;
}

nav ul li a{
    font-size: 20px;
    font-weight: 500;
}

/*header конец*/

/*Main начало*/

.main{
    height: 650px;
    display: flex;
    background:url(img/background/main_bg.jpg) center center / cover no-repeat;
}

.list_tittle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 650px;
}

.list_tittle p{
    font-size: 20px;
    color: #FFF;
}

.page_tittle{
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: inset 0 -5px 5px -5px #FE21BC;
}

.page_tittle h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}

#vk, #inst {
    width: 64px;
    height: 64px;
}

.main_elements{
    margin-top: 100px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grad_but{
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

.grad_but:hover{
    background-position: right center;
}

/*Main конец*/


/*Surgut_bar начало*/

.surgut_bar h3, p{
    color: #333333;
    display: flex;
}

.sur_inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.sur_tittle{
    margin: 50px 0 50px;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.sur_els{
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
}

.sur_el_img, .sur_el_img img{
    display: flex;
    width: 450px;
    height: 350px;
}

.sur_el_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 650px;
}

.sur_but{
    margin: 50px 0 50px;
}

/*Surgut_bar конец*/

/*info начало*/


.info{
    display: flex;
}

.info_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 4px solid green;
    margin: 100px;
    width: 1000px;
    height: 250px;
    padding: 30px;
}

.info_text p{
    text-align: center;
}

/*info конец*/

/*menu начало*/

.line{
    border-bottom: 3px solid black;
}

.menu{
    display: flex;
}

.menu_inner{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.menu_ourels{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 700px;
}

.menu_elements{
    display: flex;
    flex-direction: row;
    height: 300px;
}

.menu_tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu_text{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu_text p {
    text-align: center;
}

.menu_img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url(img/min_img/коктейль.jpg) center center / cover no-repeat;
}

.menu_img img{
    width: 200px;
    height: 250px;
}

/*menu конец*/


/*Photo начало*/
.photo_inner{
    justify-content: center;
    align-items: center;
}

.our_elements{
    display: flex;
    justify-content: space-between;
}

.main{
    text-align: center;
    font-family: 'Roboto';
}

.main_element{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
    width: 360px;
    height: 370px;
}

.main_element h2{
    padding-bottom: 15px;
}

.bar:hover{
    transition: 0.5s;
    background:url(img/min_img/bar.jpg) center center / cover no-repeat;
}

.music:hover{
    transition: 0.5s;
    background: url(img/min_img/music.jpg) center center / cover no-repeat;
}

.protect:hover{
    transition: 0.5s;
    background: url(img/min_img/protect.jpg) center center / cover no-repeat;
}

.music:hover h2{
    visibility: hidden;
}

.protect:hover h2{
    visibility: hidden;
}

.bar:hover h2{
    visibility: hidden;
}

/*Photo конец*/

/*rewives начало*/

.rew_inner{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0 100px;
}

.rew_bl{
    padding: 5px 50px;
    justify-content: space-between;
    flex-direction: column;
    height: 1000px;
    width: 850px;
    background-color: #FFF;
    box-shadow: 0 0 50px black;
}

.rew_but{
    width: 150px;
    height: 70px;
    border-radius: 30px;
    font-size: 30px;
}

.wid{
    height: 20px;
}

.rew_puncts{
    height: 120px;
}

.rew_puncts a{
    text-decoration: underline;
    color: black;
    padding: 0 10px;
    font-size: 15px;
}

.comms{
    padding: 50px;
    flex-direction: column;
    justify-content: space-between;
    background: #e4e3e3;
    height: 250px;
}

.comms_tittle{
    justify-content: space-between;
}

.coms_tit_in{
    height: 50px;
    flex-direction: column;
    justify-content: space-between;
}

.coms_tit_in h4{
    font-size: 20px;
}

.main_com_text{
    height: 170px;
}

.main_com_text{
    font-size: 20px;
}

/*rewives конец*/

/*contact начало*/

.contact_inner{
    height: 650px;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}

.contact_tittle{
    justify-content: space-evenly;
    flex-direction: column;
}

.map{
    width: 650px;
    height: 350px;
}

.contact_els{
    justify-content: space-between;
} 

iframe{
    border: none;
    width: 650px;
    height: 350px;
}

.map_text{
    width: 540px;
}

/*contact конец*/


/*Footer начало*/

footer{
    min-height: 150px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
} 

.footer_inner p{
color: #FFF;    
}

.foot_more{
    flex-direction: column;
}

/*Footer конец*/
